# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os 
# command to import appropriate libraries

In [2]:
df_opc = pd.read_pickle(r'C:\Users\boudl\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')
# command to import orders_products.csv as df_prods

In [3]:
df_prods = pd.read_csv(r'C:\Users\boudl\Instacart Basket Analysis\02 Data\Prepared Data\products_check.csv', index_col = False)
# command to import products.csv as df_prods

# Combine Data

In [4]:
df_prods.drop(columns = ['Unnamed: 0'])
# command to remove unnmamed: 0 column from dataframe

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [1]:
df_prods = df_prods.drop(columns = ['Unnamed: 0'])
# command to define database without this column

NameError: name 'df_prods' is not defined

In [6]:
df_opc.shape
#study shape of dataframe

(32640698, 11)

In [7]:
df_prods.shape
# study shape of dataframe

(49693, 5)

In [8]:
df_opc.head()
# study first five rows of dataframe

,order_id,user_id,order_number,day_of_week,order_hour_of_day,days_since_prior_order,first_order_flag,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,both

In [9]:
df_prods.head()
# study first first rows of dataframe

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
df_orders_products_check = df_opc.merge(df_prods, on = 'product_id' , indicator = True)
# command to merge dataframes with CF command in teaching

ValueError: Cannot use name of an existing column for indicator column

In [11]:
df_orders_products_check = df_opc.merge(df_prods, on = 'product_id', indicator = 'merge_indicator')
# new command to merge dataframes, since df_opc is already a merged dataframe

In [12]:
df_orders_products_check['_merge'].value_counts() 
# command to determine match type

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

In [13]:
df_orders_products_check.shape
#command to see dataframe shape

(32434212, 16)

In [14]:
df_orders_products_check.drop(columns = ['_merge'])

,order_id,user_id,order_number,day_of_week,order_hour_of_day,days_since_prior_order,first_order_flag,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,merge_indicator
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,1320836,202557,17,2,15,1.0,False,43553.0,2.0,1.0,Orange Energy Shots,64,7,3.7,both
32434208,31526,202557,18,5,11,3.0,False,43553.0,2.0,1.0,Orange Energy Shots,64,7,3.7,both
32434209,758936,203436,1,2,7,NaN,True,42338.0,4.0,0.0,"Zucchini Chips, Pesto",50,19,6.9,both
32434210,2745165,203436,2,3,5,15.0,False,42338.0,16.0,1.0,"Zucchini Chips, Pesto",50,19,6.9,both
32434211,3093936,205420,1,4,14,NaN,True,28818.0,8.0,0.0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both

In [15]:
df_orders_products_check = df_orders_products_check.drop(columns = ['_merge'])

In [16]:
df_orders_products_check.drop(columns = ['_merge_indicator'])

KeyError: "['_merge_indicator'] not found in axis"

In [17]:
df_orders_products_check = df_orders_products_check.drop(columns = ['merge_indicator'])

In [18]:
df_orders_products_check.head()
# command to see first five rows of dataframe

,order_id,user_id,order_number,day_of_week,order_hour_of_day,days_since_prior_order,first_order_flag,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,Soda,77,7,9.0

In [21]:
df_orders_products_check.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434212 entries, 0 to 32434211
Data columns (total 14 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   day_of_week             int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   first_order_flag        bool
 7   product_id              float64
 8   add_to_cart_order       float64
 9   reordered               float64
 10  product_name            object
 11  aisle_id                int64
 12  department_id           int64
 13  prices                  float64
dtypes: bool(1), float64(5), int64(7), object(1)
memory usage: 3.2+ GB

# Export Data

In [19]:
path = r'C:\Users\boudl\Instacart Basket Analysis'
# define path export

In [20]:
df_opc.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_final.pkl'))
# command to export file