# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [5]:
df1 = pd.read_csv(r'C:\Users\boudl\Instacart Basket Analysis\02 Data\Prepared Data\OPCC\opc_chunk1.csv')
#load dataframe chunk one

In [6]:
df2 = pd.read_csv(r'C:\Users\boudl\Instacart Basket Analysis\02 Data\Prepared Data\OPCC\opc_chunk2.csv')
#load dataframe chunk two

In [7]:
df3 = pd.read_csv(r'C:\Users\boudl\Instacart Basket Analysis\02 Data\Prepared Data\OPCC\opc_chunk3.csv')
#load dataframe chunk three

In [8]:
df4 = pd.read_csv(r'C:\Users\boudl\Instacart Basket Analysis\02 Data\Prepared Data\OPCC\opc_chunk4.csv')
#load dataframe chunk four

In [9]:
df_opc = pd.concat([df1, df2, df3, df4], ignore_index=True)
#combine all four chunked dataframes to one for study

# Assignment Questions

In [11]:
df_opc.head(2)
#display first two rows of dataframe

,Unnamed: 0,order_id,user_id,order_number,day_of_week,order_hour_of_day,days_since_prior_order,first_order_flag,product_id,add_to_cart_order,...,product_name,aisle_id,department_id,prices,max_order,loyalty_flag,avg_price_per_user,spending_flag,user_frequency,median_days_since_prior
0,0,2539329,1,1,2,8,NaN,True,196.0,1.0,...,Soda,77,7,9.0,10,New customer,6.367797,Low spender,Non-frequent customer,20.5
1,1,2398795,1,2,3,7,15.0,False,196.0,1.0,...,Soda,77,7,9.0,10,New customer,6.367797,Low spender,Non-frequent customer,20.5

In [12]:
df_opc.drop(columns = ['Unnamed: 0'])
#drop misc column

,order_id,user_id,order_number,day_of_week,order_hour_of_day,days_since_prior_order,first_order_flag,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,max_order,loyalty_flag,avg_price_per_user,spending_flag,user_frequency,median_days_since_prior
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77,7,9.0,10,New customer,6.367797,Low spender,Non-frequent customer,20.5
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77,7,9.0,10,New customer,6.367797,Low spender,Non-frequent customer,20.5
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,Soda,77,7,9.0,10,New customer,6.367797,Low spender,Non-frequent customer,20.5
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,Soda,77,7,9.0,10,New customer,6.367797,Low spender,Non-frequent customer,20.5
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,Soda,77,7,9.0,10,New customer,6.367797,Low spender,Non-frequent customer,20.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,694731,202557,16,1,14,2.0,False,43553.0,2.0,1.0,Orange Energy Shots,64,7,3.7,31,Regular customer,6.699505,Low spender,Frequent customer,7.0
32434208,1320836,202557,17,2,15,1.0,False,43553.0,2.0,1.0,Orange Energy Shots,64,7,3.7,31,Regular customer,6.699505,Low spender,Frequent customer,7.0
32434209,31526,202557,18,5,11,3.0,False,43553.0,2.0,1.0,Orange Energy Shots,64,7,3.7,31,Regular customer,6.699505,Low spender,Frequent customer,7.0
32434210,758936,203436,1,2,7,NaN,True,42338.0,4.0,0.0,"Zucchini Chips, Pesto",50,19,6.9,3,New customer,8.737500,Low spender,Non-frequent customer,30.0
32434211,2745165,203436,2,3,5,15.0,False,42338.0,16.0,1.0,"Zucchini Chips, Pesto",50,19,6.9,3,New customer,8.737500,Low spender,Non-frequent customer,30.0

In [13]:
df_opc = df_opc.drop(columns = ['Unnamed: 0'])
#define dataframe without this column

In [14]:
df_opc.shape
#command to study shape of dataframe

(32434212, 20)

In [15]:
df_opc['loyalty_flag'].value_counts(dropna = False)
#command to display new flag column values

loyalty_flag
Regular customer    15832287
Loyal customer      10246255
New customer         6355670
Name: count, dtype: int64

In [17]:
spending_loyalty = df_opc.groupby('loyalty_flag')['prices'].agg(['mean', 'median', 'std'])
#command to study spending habits of customers

In [18]:
spending_loyalty.head()
#command to study mean median and standard deviation of customer spending habits

                       mean  median         std
loyalty_flag
Loyal customer    10.393847     7.4  328.458082
New customer      13.223022     7.4  592.552504
Regular customer  12.509866     7.4  540.426757

In [20]:
df_opc['spending_flag'].value_counts(dropna = False)
#command to study counts of new flag column

spending_flag
Low spender     30832319
High spender     1601893
Name: count, dtype: int64

In [21]:
df_opc['user_frequency'].value_counts(dropna=False)
#command to display new flag column counts

user_frequency
Frequent customer        21525096
Regular customer          7174586
Non-frequent customer     3722035
NaN                         12495
Name: count, dtype: int64

# Export Dataframe

In [22]:
path = r'C:\Users\boudl\Instacart Basket Analysis'
# define path export

In [23]:
df_opc.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'opc_combined_chunk.pkl'))
#command to export dataframe